@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranRegular";
  src: url("/src/assets/fonts/IRANSansXFaNum-Bold.woff") format("truetype");
}
@font-face {
  font-family: "IranLight";
  src: url("/src/assets/fonts/IRANSansXFaNum-Light.woff");
}
@font-face {
  font-family: "IranBold";
  src: url("/src/assets/fonts/IRANSansXFaNum-Bold.woff");
}
@font-face {
  font-family: "IranSemiBold";
  src: url("/src/assets/fonts/IRANSansXFaNum-SemiBold.woff");
}
@font-face {
  font-family: "IranExtraBold";
  src: url("/src/assets/fonts/IRANSansXFaNum-ExtraBold.woff");
}
@font-face {
  font-family: "IranMedium";
  src: url("/src/assets/fonts/IRANSansXFaNum-Medium.woff");
}
.swiper-button-prev {
  background-color: white;
  left: 10px;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 100%;
  color: black !important;
  fill: black !important;
  stroke: black !important;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.74);
}
.swiper-button-next {
  background-color: white;
  right: 10px;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 100%;
  color: black !important;
  fill: black !important;
  stroke: black !important;
}
.ql-snow .ql-picker-label {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-left: 8px;
  padding-right: 2px;
  position: relative;
  width: 100%;
  direction: initial;
}
.Toastify__toast-body > div:last-child {
  direction: rtl;
  font-family: IranRegular;
  font-size: small;
}
.max-w-md {
  max-width: 60%;
}
@layer components {
  .errorStyleText {
    @apply w-full flex p-2 text-red-500  text-xs text-start;
  }
  .InputStyle {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 block w-full p-2.5 mt-2;
  }
  .loginErrorInput {
    @apply bg-gray-50 border border-red-500 text-gray-900 sm:text-sm rounded-lg focus:ring-red-600 focus:border-red-600 block w-full;
  }
}

@layer utilities {
  .hideOnLarge {
    @apply md:hidden lg:hidden xl:hidden 2xl:hidden;
  }
  .hideOnSmall {
    @apply hidden sm:hidden md:flex lg:flex xl:flex 2xl:flex;
  }
  .visibleOnSmall {
    @apply flex sm:flex md:hidden lg:hidden xl:hidden 2xl:hidden;
  }
  .activeMenu {
    @apply text-red-500 opacity-100;
  }
  .preventSelect {
    @apply select-none;
  }
  .primaryButton {
    @apply w-full bg-red-500  text-white py-2 px-4 rounded-full font-bold hover:bg-red-600;
  }
  .cancelButton {
    @apply w-full bg-gray-800  text-white py-2 px-4 rounded-full font-bold;
  }
  .outlineButton {
    @apply w-full border border-gray-800  text-black py-2 px-4 rounded-full font-bold hover:bg-red-500 hover:text-white hover:border-red-500;
  }
  .disableButton {
    @apply w-full border border-gray-400  text-gray-400 py-2 px-4 rounded-full font-bold cursor-not-allowed;
  }
  .couponButton {
    @apply w-fit bg-red-500  text-white py-2 px-4 rounded-l-lg font-bold  border border-red-500 hover:bg-red-600;
  }
  .couponInput {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-r-lg focus:ring-red-400 focus:border-red-400 block w-full p-2.5;
  }
  .primaryInput {
    @apply bg-neutral-100 rounded-lg w-1/4 px-2 gap-2 items-center  focus:outline-none focus:border-none border-none font-[IranRegular] text-sm;
  }
  .editInput {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-400 focus:border-red-400 block w-full p-2.5;
  }
  .editPriceQuantityStyle {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-400 focus:border-red-400 block w-20 p-2.5;
  }
  .inputQuantity {
    @apply w-12  p-2 focus:border-none focus:outline-none border-none outline-none focus:ring-transparent rounded-lg text-center;
  }
  .disabledInputQuantity {
    @apply w-12  p-2 focus:border-none focus:outline-none border-none outline-none focus:ring-transparent rounded-lg text-center cursor-not-allowed;
  }
  .radioButtonStyle {
    @apply border border-gray-800 text-red-500 sm:text-sm rounded-lg focus:ring-red-600 focus:border-red-600;
  }
  .productHeadStyle {
    @apply border-y-2 border-red-500 text-xl font-semibold px-4 py-2 w-fit;
  }
  .productSliderDivStyle {
    @apply w-full flex flex-col items-center mt-5 gap-4 py-4;
  }
  .bannerSideBySide {
    @apply grid gap-4 grid-cols-1 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 w-full relative overflow-hidden my-4;
  }
  .bannerWide {
    @apply w-full items-center justify-center hidden sm:hidden md:flex lg:flex xl:flex 2xl:flex h-fit my-4;
  }
  .bannerImage {
    @apply w-full hover:scale-110 hover:duration-700;
  }
  .breadcumpText {
    @apply inline-flex items-center text-sm font-medium text-gray-700 hover:text-red-600 dark:text-gray-400 dark:hover:text-white;
  }
  .deleteSpan {
    @apply w-fit cursor-pointer underline underline-offset-4 text-red-500;
  }
}
