@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranRegular";
  src: url("/src/assets/fonts/IRANSansXFaNum-Bold.woff") format("truetype");
}
@font-face {
  font-family: "IranLight";
  src: url("/src/assets/fonts/IRANSansXFaNum-Light.woff");
}
@font-face {
  font-family: "IranBold";
  src: url("/src/assets/fonts/IRANSansXFaNum-Bold.woff");
}
@font-face {
  font-family: "IranSemiBold";
  src: url("/src/assets/fonts/IRANSansXFaNum-SemiBold.woff");
}
@font-face {
  font-family: "IranExtraBold";
  src: url("/src/assets/fonts/IRANSansXFaNum-ExtraBold.woff");
}
@font-face {
  font-family: "IranMedium";
  src: url("/src/assets/fonts/IRANSansXFaNum-Medium.woff");
}

@layer base {
  input[type="search"],
  input[type="text"] {
    @apply bg-neutral-100 w-full text-gray-800 p-2 text-sm focus:border-none rounded-full focus:outline-none border-none outline-none focus:ring-transparent placeholder-gray-400;
  }
}

@layer utilities {
  .hideOnLarge {
    @apply md:hidden lg:hidden xl:hidden 2xl:hidden;
  }
  .hideOnSmall {
    @apply hidden sm:hidden md:flex lg:flex xl:flex 2xl:flex;
  }
  .visibleOnSmall {
    @apply flex sm:flex md:hidden lg:hidden xl:hidden 2xl:hidden;
  }
  .activeMenu {
    @apply text-red-500 opacity-100;
  }
  .preventSelect {
    @apply select-none;
  }
  .primaryButton {
    @apply w-full bg-red-500  text-white py-2 px-4 rounded-full font-bold hover:bg-red-600;
  }
  .primaryInput {
    @apply bg-neutral-100 rounded-lg w-1/4 px-2 gap-2 items-center  focus:outline-none focus:border-none border-none font-[IranRegular] text-sm;
  }
}
